<div id="certificates" class="certs-section">
    <h3 class="certs-title">Academic Certificates </h3>
    <div class="certs-container">
      <div class="cert-item">
        <img src="/assets/img/certs-azuredevops-eng.png" alt="Certificate 1" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/azure-admin-asso.png" alt="Certificate 2" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/sun_solris_admin.png" alt="Certificate 3" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/ccna-img-logo.png" alt="Certificate 4" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/aws-sa-asso.png" alt="Certificate 5" class="cert-icon">
      </div>      
      <div class="cert-item">
        <img src="/assets/img/IBM_power_systems.png" alt="Certificate 6" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/itil-Certifications.png" alt="Certificate 7" class="cert-icon">
      </div>
      <div class="cert-item">
        <img src="/assets/img/mysql.png" alt="Certificate 8" class="cert-icon">
      </div>                                
      <!-- Add more certificate items as needed -->
    </div>
  </div>